

header {
//   border: 2px solid red;
  min-height: 100vh;
  position: relative;

    .header-container {
        // border: 2px solid green;
        display: flex;
        width: 100%;
        min-height: 100vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
       
       .header-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        // border: 2px solid cyan;
        transform: translateY(40px);
        opacity: 0;
        animation: fadeInUp 2s forwards;

        @keyframes fadeInUp {
            to {
            transform: translateY(0);
            opacity: 1;
        }
        }
       
    
        h1 {
            @include title;
            color: $white1;
            font-size: clamp(1.4rem, 0.5122rem + 5.0732vw, 4rem);
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 6px;
            white-space: nowrap;
            margin-bottom: 4vh;
            @media screen and (max-width:280px) {
                font-size: 18px;
              }
       }
        p {
            color: $white1;
            text-align:center;
            font-size: 1rem;
            font-style: italic;
            font-family: $font2;
            padding: 0 15px;
       }
       .icone {
            margin-top: 6vh;
            @extend %center;
        i {
            color: $white1;
            border: 2px solid rgba(243, 243, 243, 0.171);
            width: 60px;
            height: 60px;
            border-radius: 50%;
            font-size: 20px;
            @extend %center;
            // background:  rgba(163, 162, 162, 0);
            box-shadow: 0 0 0 0 rgb(243, 243, 243);
            animation: pulse 1.3s infinite;

            @keyframes pulse {
                to {
                    box-shadow: 0 0 0 12px rgba(243, 243, 243, 0); 
                }
            }
        }
        &:hover {
            transform: scale(1.1);
        }
       }  
    }  
    @media screen and (max-width:1290px) {
        height: 91vh;
      } 
    }


    nav {
        position: absolute;
        height: 65px;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.24);
        box-shadow: inset 0px 5px 15px #c5c5c6;
        .nav-container{
            
            height: 100%;
            @extend %space-b;

            .menu-content {
                // border: 2px solid yellow;
                width: 55%;
                height: 100%;
                display: grid;
                grid-template-columns: 33% 30% 1fr;
                &:hover .menu:not(:hover) {
                    background: none;
                    color: $white1;
                }
                
                .menu {
                    // border: 2px solid purple;
                    color: $white1;
                    font-size: clamp(0.625rem, 0.5823rem + 0.2439vw, 0.75rem);
                    font-weight: 100;
                    @include title;
                    @extend %center;
                    text-align: center;
                    height: 100%;
                    position: relative;
                    cursor: pointer;
                    &:first-child {
                        background: $white1;
                        color: $black1;
                      }
                      &:hover {
                        background: $white1;
                        color: $black1;
                      }
                }
                @media screen and (max-width:1290px) {
                    width: 60%;
                }
                @media screen and (max-width:890px) {
                    // border: 2px solid black;
                    margin: 0 auto;
                    width: 100%;
                    grid-template-columns: 33% 33% 33%;
                }
               
                               
            }

            .social {
                // border: 2px solid blue;
                height: 100%;
                width: 25%;
                @extend %space-a;
                transition: 0.3s;
                & i {
                    color: $white1;
                    font-size: 1.1rem;
                    &:hover {
                        transform: scale(1.3);
                    }
                }
                @media screen and (max-width:890px) {
                    display: none;
                }
            }
        
        }
        @media screen and (max-width: 890px) {
            width: 100%;
            margin: 0 auto;
        }
    }


}

nav {
    backdrop-filter: blur(5px);
}